h3 {
    color: white;
    font-family: sans-serif;
}



.listContainer h2 {
    text-align: center;
}


.listContainer {
    background-color: #1f648a;
    border: 3px solid rgb(203, 155, 97);
    width: 75rem;
    height: 50rem;
    margin:auto;
    margin-top: 5rem;
    border-radius: 8px;
}


.theLogo {
    
    padding: 1rem;
    width: 50rem;
    margin: auto;
    margin-top: 2rem;
    border-radius: 8px;
    color: #c4f2c7;
    font-size: 40px;
    font-weight: 300;
}

.inputSpan .numField {
    width: 2.5rem;
    padding: 0.5rem;
    margin-right: 2rem;
    border-radius: 50px;
}



.textField {
    padding: 0.5rem;
    border-radius: 50px;
}


input:focus {
    border-color: coral;

}

.inputContainer {
    margin-left: 13rem;
}



@media (max-width: 800px) {


    .listContainer {
        background-color: #0B60B0;
        border: none;
        width: 95%;
        height: 99%;
        margin:auto;
        margin-top: 0;
        border-radius: 8px;
    }


    .inputContainer {
        margin-left: 0;
    }

    .theLogo {
        width: 90%;
        margin-top: 1rem;
        margin-left: 0;
        padding-left: 0;
        font-size: 50px;
    }

    button {
        margin-left: 0.20rem;
        margin-top: 1.25rem;
    }

    h2 {
        margin-top: 0;
    }
}